.mail-preview {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Add a border between each mail preview */
  
    /* Optional: Add styles for hover effect */
    transition: background-color 0.3s ease;
  }
  
  .mail-preview:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
  }
  
  .mail-preview i {
    margin-right: 10px;
    cursor: pointer;
  }
  
  .mail-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
  
  .mail-info span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .mail-subject {
    font-weight: bold;
  }
  
  .mail-body {
    color: #777;
  }
  
  /* Optional: Style the close (x) button */
  .mail-preview button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #777;
  }
  
  /* Optional: Style the close (x) button on hover */
  .mail-preview button:hover {
    color: #333;
  }
  .delete-btn {
    background-color: #ff6961; /* Red color, you can change it */
    color: #fff; /* White text color, you can change it */
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .delete-btn:hover {
    background-color: #e74c3c; /* Darker red on hover, you can change it */
  }
  