.fa-star.fa-solid{
    color: rgb(253, 253, 127);
}

.mail-preview{
    padding: 0.5em;
    border: 1px solid grey;
    border-radius: 11px;
    display: flex;
    background-color: #98989815;
    width: 98%;
}
.mail-preview:hover{
    border: 1px solid #000000;
    font-weight: bold;
    background-color: #9898984a;
}
